// http://tango.freedesktop.org/static/cvs/tango-art-tools/palettes/Tango-Palette.svg
$color-background: #fff;
$color-background2: $color-background;
$color-border: #d3d7cf;
$color-copy: transparentize(#2e3436, 0.09);
$color-link: $color-copy;
$color-weak: #888a85;
