@import 'colors';

@mixin link($color) {
    background-image: linear-gradient(to bottom, $color-background 50%, $color 50%);
    color: $color;
}

a {
    @include link($color-link);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 40px 2px;
    padding-bottom: 2px;
    text-decoration: none;
}
