// https://bitsofco.de/the-new-system-font-stack/
$font-stack: (-apple-system, system-ui, BlinkMacSystemFont,
'Segoe UI', Roboto, 'Droid Sans', 'Helvetica Neue', sans-serif);

$font-mono: ('SFMono-Regular', Consolas, 'DejaVu Sans Mono',
Menlo, Monaco, monospace);

body {
    background: #fff;
    color: #303030;
    font-family: $font-stack;
    margin: 0;
    padding: 1em;
    text-rendering: optimizelegibility;
}

body.web-fonts-loaded {
    font-family: 'Open Sans', $font-stack;

    p {
        font-family: 'Noto Serif', $font-stack;
    }
}

code, kbd, pre, samp {
    font-family: $font-mono;
    font-weight: normal;
}

h1, h2, h3, h4, p, pre {
    margin: 0 0 1rem;
}

h1, h2 {
    letter-spacing: -1px;
}

article {
    margin: 0 auto;
    max-width: 40rem;
}

header {
    margin: 1rem 0 4rem;

    h1 + p {
        font-style: italic;
        margin-top: -0.5rem;
    }
}

footer {
    margin: 2rem 0 1rem;

    p {
        font-style: italic;
    }
}

a {
    background-image: linear-gradient(to bottom, #fff 50%, #303030 50%);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 40px 2px;
    color: #303030;
    text-decoration: none;
}

p {
    font-size: 1.125rem;
}

pre {
    font-size: 0.8125rem;
}
