@import '../node_modules/material-design-color/material-color';

// https://bitsofco.de/the-new-system-font-stack/
$font-stack: (-apple-system, system-ui, BlinkMacSystemFont,
'Segoe UI', Roboto, 'Droid Sans', 'Helvetica Neue', sans-serif);

$font-mono: ('SFMono-Regular', Consolas, 'DejaVu Sans Mono',
Menlo, Monaco, monospace);

body {
    background: $clr-white;
    color: $clr-blue-grey-900;
    font-family: $font-stack;
    margin: 0;
    padding: 1em;
    text-rendering: optimizelegibility;
}

body.web-fonts-loaded {
    font-family: 'Open Sans', $font-stack;

    p, h3, h4, nav {
        font-family: 'Noto Serif', $font-stack;
    }
}

code, kbd, pre, samp {
    font-family: $font-mono;
    font-weight: 400;
}

h1, h2, h3, h4, p, pre {
    margin: 0 0 1rem;
}

h1, h2, h3, h4 {
    color: $clr-blue-grey-800;

    code {
        font-size: 85%;
    }
}

h1, h2 {
    letter-spacing: -1px;
}

h3, h4 {
    font-weight: 400;
    position: relative;

    &::before {
        color: $clr-blue-grey-100;
        font-family: $font-mono;
        font-size: 0.8125rem;
        left: -2.5rem;
        position: absolute;
    }
}

h3::before {
    bottom: 3px;
    content: '<h3>';
}

h4::before {
    bottom: 1px;
    content: '<h4>';
}

article {
    margin: 0 auto;
    max-width: 40rem;
}

nav {
    font-size: 0.875rem;
}

header {
    margin: 1rem 0 4rem;

    h1 + p {
        font-style: italic;
        margin-top: -0.5rem;
    }
}

footer {
    margin: 2rem 0 1rem;

    p {
        font-style: italic;
    }
}

p {
    font-size: 1.125rem;
    line-height: 1.5;
}

pre {
    font-size: 0.8125rem;
}

.listing {
    background-color: $clr-yellow-50;
    padding: 1rem;
}

.changelog .line {
    line-height: 1.9;

    &::after {
        content: '\a';
    }
}
