@import 'colors';

// https://bitsofco.de/the-new-system-font-stack/
$font-stack: (-apple-system, system-ui, BlinkMacSystemFont,
'Segoe UI', Roboto, 'Droid Sans', 'Helvetica Neue', sans-serif);

$font-mono: ('SFMono-Regular', Consolas, 'DejaVu Sans Mono',
Menlo, Monaco, monospace);

@mixin smoothing-antialiased {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background: $color-background;
    color: $color-copy;
    font-family: $font-stack;
    margin: 0;
    padding: 1em;
    text-rendering: optimizelegibility;
}

body.web-fonts-loaded {
    font-family: 'Open Sans', $font-stack;

    p, h3, h4, nav {
        font-family: 'Noto Serif', $font-stack;
    }
}

code, kbd, pre, samp {
    font-family: $font-mono;
    font-weight: 400;
}

h1, h2, h3, h4, p, pre {
    margin: 0 0 1rem;
}

h1, h2, h3, h4 {
    font-weight: 600;

    code {
        font-size: 85%;
    }
}

h1, h2 {
    letter-spacing: -1px;
}

h3, h4 {
    font-weight: 400;
    position: relative;

    &::before {
        @include smoothing-antialiased;
        color: $color-weak;
        font-family: $font-mono;
        font-size: 0.8125rem;
        left: -2.5rem;
        position: absolute;
    }
}

@media (min-width: 48em) {
    h3::before {
        bottom: 3px;
        content: '<h3>';
    }

    h4::before {
        bottom: 1px;
        content: '<h4>';
    }
}

article {
    margin: 0 auto;
    max-width: 40rem;
}

nav {
    font-size: 0.875rem;

    a + a {
        margin-left: 1rem;
    }
}

header {
    margin: 1rem 0 3rem;

    h1 + p {
        font-style: italic;
        margin-top: -0.5rem;
    }
}

footer {
    margin: 2rem 0 1rem;

    p {
        font-style: italic;
    }
}

p {
    font-size: 1.125rem;
    line-height: 1.5;
}

pre {
    font-size: 0.8125rem;
}

.listing {
    background-color: $color-background2;
    padding: 1rem;
}

.changelog .line {
    line-height: 1.9;

    .date {
        @include smoothing-antialiased;
        color: $color-weak;
    }

    &::after {
        content: '\a';
    }
}

hr {
    border-color: $color-border;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin: 2rem 0;
}
